body {
	margin: 0px;
	padding: 0px;
	color: #000000;
	font-family: Arial,Helvetica,sans-serif; 
	font-size: 14px;
	line-height: 1.5em; 
	background: #dddddd; 
	background-repeat: repeat-x;
	background-position: top;
}

p { 	margin: 0px; padding: 0; text-align: justify;}

img { border: none; }

h1 { font-size: 40px;  margin: 0 0 30px 0; 	padding: 5px 0; color: #124D6F; font-weight: normal; }
h2 { font-size: 28px;  margin: 0 0 30px 0; 	padding: 0; color: #124D6F; font-weight: normal; }
h3 { font-size: 21px;  margin: 0 0 15px 0;  	padding: 0; color: #124D6F; font-weight: normal; }
h4 { font-size: 18px;  margin: 0 0 15px 0; 	padding: 0; color: #000;}
h5 { font-size: 16px;  margin: 0 0 10px 0; 	padding: 0;	color: #000; }
h6 { font-size: 14px;  margin: 0 0 5px 0;  	padding: 0; color: #000; }

.cleaner { 	clear: both; 	width: 100%; 	height: 0px; 	font-size: 0px; }
.cleaner_h10 { 	clear: both; 	width:100%; 	height: 10px; }
.cleaner_h20 { 	clear: both; 	width:100%; 	height: 20px; }
.cleaner_h30 { 	clear: both; 	width:100%; 	height: 30px; }
.cleaner_h40 { 	clear: both; 	width:100%; 	height: 40px; }
.cleaner_h50 { 	clear: both; 	width:100%; 	height: 50px; }
.cleaner_h60 { 	clear: both; 	width:100%; 	height: 60px; }
.float_l { 	float: left; }
.float_r { 	float: right; }
.image_wrapper { 	display: inline-block; 	padding: 5px; 	background: none; 	margin-bottom: 10px; }
.image_fl { 	float: left;	margin: 3px 15px 0 0; }
.image_fr { 	float: right; 	margin: 3px 0 0 5px; }

blockquote { font-style: italic; margin-left: 10px;}

cite { font-weight: bold; color:#3b3823; }

cite span { color: #696443; }

em { color: #000; }

.list1   { list-style-type: square }
.list1  li { margin:0 0 7px; padding: 0 0 0 8px; text-align: justify;}

.list2   { list-style: none }
.list2  li { margin:0 0 10px; padding: 0 0 0 17px; font-size:16px; text-align: justify; background: transparent url(images/list.png) no-repeat scroll 0 6px ;}

.img { float: left; padding-right:8px ;}

.btn_more a { 
	display: inline-block;
	color: #333;
	padding: 0px 0 0px 23px;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
    background: url(images/more_btn.png) center left no-repeat;
}

.btn_more a:hover {
	color: #3dc8ff;
	text-decoration: none;
}

#header_wrapper { clear: both; width: 100%; height:90px;	background: #FFFFFF; }
#header { width: 1050px; height:90px; padding: 0 10px; 	margin: 0 auto;	 }
#header  #logo { 	float: left; 	width: 80px; padding-top: 5px; 	text-align: center; }
#header  #site_title { float: left; 	width: 600px; padding-top: 20px; text-align: left; }
#header  #site_title  h2{ display: block;	font-size: 25px; font-weight: bold; color: #124D6F ; margin: 0; padding: 0px 0px 5px 0px; }
#header  #site_title  h3{ display: block;	font-size: 15px; color: #124D6F; font-weight: bold; margin: 0; padding: 0px 0px 0px 3px;}

#header #header_right { 
	float: right;  
	padding-top: 10px; 
	display: inline-block; 
}

#social_box { 
	display: block; 
	margin-bottom: 10px; 
}

#social_box ul { 
	display: inline-block; 
	float: right; 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

#social_box li { 
	display: block; 
	float: left; 
	padding-left:5px; 
	margin: 0; 
}

#social_box li a { 
	font-size:14px;
	width: 24px; 
	height: 24px; 
	margin-right: 5px; 
	color: #183544; 
	text-decoration:none;
}

#social_box li a:hover { text-decoration:underline; }
#menu_wrapper { clear: both; width: 100%; 	height: 40px; background: #124D6F; margin: 0; padding:0; }
#menu {	width: 1070px;	padding: 0;	margin: 0 auto;	}

.menu_ul {	margin: 0;	padding: 0 0px;	list-style: none;}
.menu_li {	padding: 0px;	margin: 0px;	display: inline;	float:left;}
.menu_a {
	display: block;
	height: 30px;
	padding: 10px 0 0 0;
	margin: 0 1px 0 0 ;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;	
	font-weight: normal;
	border-left: 1px solid #0F3A52;
}
.menu_li  a:hover {	color: #FFFFFF;	background:#209ADA ;}

#sub_menu {	margin: 0;	padding: 0;	z-index: 30; }
#sub_menu li { margin:0;	padding:0;	list-style: none;	float: left;	font:bold 12px Tahoma }
#sub_menu li a { display: block;	margin: 0 1px 0 0;	padding:10px 15px 10px;	color: #FFFFFF;	text-align: center;	}
#sub_menu div { position: absolute;	visibility: hidden;	margin: 0px 0px 0px 0px;	padding: 0px;	background: #209ADA; }
#sub_menu div a { width: auto;	height: 14px;	text-align: left;	text-decoration: none;	background: #209ADA;	color: #FFFFFF; font: bold 13px arial;	BORDER-TOP: 1PX SOLID #FFFFFF; }
#sub_menu div a:hover {text-align: left;	text-decoration: none;	background: #EEEEEE;	color: #000000; }

#ticker_wrapper {
	width: 100%; 
	height: 30px;
	padding: 0;
	background: #D1ECFA; 
}

#ticker {
	width: 1070px;
	padding: 0;
	margin:0 auto;
	
}
#ticker a {
	float:left;
	display: block;
	padding: 3px 3px 3px 3px;
	height:22px;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	color: #000000;	
	font-weight: bold;
}
#middle { clear: both; width: 1070px; min-height:600px; padding-top:5px; margin: 0 auto; background: #FFFFFF; border :0px solid #000000}
#middle_left { float: left;  width: 250px; margin: 0 auto; background-color: #FFFFFF; border :0px solid #000000}
#middle_Center { float: left;  width: 570px; margin: 0 auto; background: #FFFFFF; border :0px solid #000000}
#middle_right { float: left;  width: 250px; margin: 0 auto; background-color: #FFFFFF; border :0px solid #000000}

#middle p { margin-bottom: 15px; }

#services {
	clear: both;
	margin:20px 0px 30px 20px;
	padding-bottom: 10px;
}

#services h3 {
	height: 24px; padding-left: 32px;
}

.message_welcome {
	float: left;
	width: 540px;
	margin: 10px 5px 0px 20px;
}

.content_box {
	clear: both;
	border-bottom: 1px solid #b2c9d2;
	margin-bottom: 20px;
	padding-bottom: 20px;	
}

.content_box_last {
	border-bottom: none;
	margin-bottom: 0;
}


.col_w300 {
	float: left;
	width: 230px;
	margin: 10px 10px 10px 10px;
}

.Vline { 
	float: left;
	width:1px; 
	height: 120px; 
	margin: 7px 10px 0 0;
	background:#b2c9d2;
}

.Hline { 
	float: left;
	width:100%; 
	height: 1px; 
	margin:3px 10px 7px 10px;
	background:#b2c9d2;
}

.Hline_dashed { 
	float: left;
	width:100%; 
	height:1px;
	border-top: 1px dashed #333;
	margin:0px 10px 20px 0px;
}

#content_left { float: left;  width: 790px; margin: 30px 10px 20px 20px; background: #FFFFFF; border :0px solid #000000}
#content_right { float: left;  width: 237px; margin: 30px 10px 20px 0px; background: #FFFFFF; border-left :1px solid #E0E0E0}

#content_left h2 { font-size: 22px; 	font-weight: normal; margin: 0 0 12px 0; padding: 0; color:#124D6F; }

#content_left   a { color: #0F3A52; }
#content_left   a:hover { color: #ff4301; text-decoration:none;}

#content_left .Hline { 
	clear: both;
	float: left;
	margin: 0;
	padding:0;
	width:100%; 
	height: 1px; 
	background:#e0e0e0;
}
.col_w460 {
	float: left;
	width: 760px;
	padding-right: 30px;
}
#bottomLogo_wrapper {
width: 100%; 
}

.bottomLogo { width:1070px; background: #ffffff;  margin:0 auto ;  border-top:1PX solid #b2c9d2}  
.bottomlogoInn { padding:20px 35px 25px 35px;}  
.botPrev { position:absolute; left:6px; top:43px; text-indent:-9999px; width:9px; height:16px; display:block; } 
.botnext { position:absolute; right:6px; top:43px; text-indent:-9999px; width:9px; height:16px; display:block; } 
 
#logoScroller { width:1000px; overflow:hidden;} 
#logoScroller ul { margin: 0; padding: 0; list-style: none; display: block; height:72px; } 
#logoScroller li { width: 130px; height: 72px; padding: 0; margin:0 20px; display: block; text-align:center; float: left;} 
#logoScroller.responsive { width: auto; margin-left: 0; } .timer { background-color: #999; height: 6px; width: 0px; } .textResizeWrapper { float:left; padding-top:1px; } .noJS .tabContent { display:block; padding-bottom:50px; } 

#footer_wrapper {
	clear: both;
	width: 100%;
	padding-top: 1px;
	background: #124D6F; 
}

#footer {
	width: 1070px;
	margin: 0 auto;
}

.footer_left {
	width: 515px;
	margin: 10px 10px 10px 10px;
	float:left;
	text-align: left;
	background: #124D6F; 
}


.footer_right {
	width: 515px;
	margin: 10px 10px 10px 10px;
	float:right;
	text-align: right;
	background: #124D6F; 
}

#footer h6{
	color: #8ab6d1;
	font-size:12px;
	font-weight: normal;
	padding: 0px 10px 0px 10px;
	margin: 0;
}

#footer h6 a {
color: #8ab6d1 ;
text-decoration:none;
padding: 0px 10px 0px 10px;
margin: 0;
}

#footer h6 a:hover{
color:#8ab6d1;
}

.msg-img{float: left;margin: 5px 5px 0px 2px;height: 55px;}
.boxedB {margin-bottom: 10px;background: #124D6F;  border-bottom: 1px solid #124D6F;}
.boxedB h2 {	height: 28px;	padding: 10px 0 0 21px;	margin: 0;	font-size: 17px;	font-weight: bold;	color: #FFFFFF;}
.boxedB ul {	margin: 0px;	padding: 0px;	list-style: none;}
.boxedB li {display: inline;}
.boxedB a {display: block;	width: 229px; height: 27px;	padding: 4px 0 0 25px;	background: #F9F9FC url(images/list.png) no-repeat scroll 10px 9px ; border-top: 1px solid #FFFFFF ; text-decoration: none; 	font-size: 13px; font-weight:bold; color: #0F3A52;}
.boxedB a:hover {background: #209ADA;color: #FFFFFF;}

.boxedC {margin-bottom: 10px;background: #124D6F;border-bottom: 1px solid #124D6F;}
.boxedC h2 {height: 28px;padding: 10px 0 0 21px;margin: 0 ;font-size: 17px;font-weight: bold;color: #FFFFFF;}
.boxedC ul {	margin: 0px;	padding: 0px;	list-style: none;}
.boxedC li {display: block; width: 250px; height: 70px; padding: 0px; background: #F9F9FC; border-top: 1px solid #FFFFFF; text-decoration: none; color: #000000;	font-weight: normal; line-height: 1.2em;}
.boxedC a {text-decoration: none; color: #555; }
.boxedC li h4 { font-size: 13px;	font-weight:bold;	margin: 2px 0px 5px 63px;	padding: 0; 	color: #333; }
.boxedC li  h6 { font-size: 12px; font-weight:normal; margin: 0 0 0 63px;	padding:0; 	color: #333000; }
.boxedD {	margin-bottom: 10px;}
.boxedD h2 {	height: 28px; padding: 10px 0 0 21px; margin: 0; font-size: 16px; font-weight: bold; color: #124D6F; border-bottom: 1px solid #124D6F;}
.boxedD ul {	margin: 0px;	padding: 0px;	list-style: none;	background: #F9F9FC;}
.boxedD li {vertical-align: middle;	background: transparent url(images/arrow5.gif) no-repeat scroll 0 11px ; 	margin: 0px 0 0 20px; padding: 0 0 0 20px; }
.boxedD a {	display: block;	width: 229px;	padding: 3px 0 3px 1px;	text-decoration: none;	font-size: 13px;	font-weight:normal;	color: #0F3A52;  }
.boxedD a:hover {color: #ff4301; text-decoration: underline;}

.boxedE {margin-bottom: 10px;}
.boxedE h2 {	height: 28px;	padding: 10px 0 0 21px;	margin: 0;	font-size: 16px;	font-weight: bold;	color: #124D6F; border-bottom: 1px dashed #124D6F;}
.boxedE ul {	margin-top: 5px;	padding: 0px;	list-style: none;	background: #F9F9FC;}
.boxedE li {vertical-align: middle;	padding: 5px 0px 0px 20px; 	font-size: 15px;	font-weight:Bold;	color: #000000;	border:0px solid #aaaaaa ;}
.boxedE li  a {	display: block;	width: 210px;	padding: 7px 0px 10px 0px;	font-size: 15px;	font-weight:normal;	color: #0F3A52; 	border-bottom:1px solid #aaaaaa ;}
.boxedE a:hover {	text-decoration: none;}


.boxedF  {margin: 0 0 10px 10px;}
.boxedF h2 {	height: 28px; padding: 0px 0px 4px 20px; margin: 0; font-size: 20px; font-weight: normal; color: #124D6F; border-bottom: 1px solid #E0E0E0;}
.boxedF ul {	margin: 0px;	padding: 0px;	list-style: none;	background: #F9F9FC;}
.boxedF li { vertical-align: middle;	background: transparent url(images/arrow55.gif) no-repeat scroll 0 13px ; margin: 0px 0 0 20px; padding: 0 0 0 20px; }
.boxedF a {	display: block;	width: 229px;	padding: 5px 0 7px 1px;	text-decoration: none; font-size: 14px;	font-weight:normal;	color: #0F3A52;  }
.boxedF a:hover { color: #0F3A52; text-decoration:underline;}

#gallery { clear: both; }

#gallery a { border: none; }

.g_box { 
	float: left; 
	display: block; 
	width: 280px; 
	padding: 8px; 
	margin: 0 20px 20px 0; 
	border: 1px solid #fff; 
	background: #f3fbfe; 
}

.g_box a img { width: 280px; height: 140px; margin-bottom: 10px; }

.rm_col { margin: 0 0 20px 0; }	

.tableDiv {	font-family:Arial, Helvetica, sans-serif; color:#222222; font-size:15px; background:#eaebec; margin:20px auto; border:#ccc 1px solid; width:100%;}
.tableDiv th  {padding:7px 7px;	border-top:1px solid #fafafa; border-bottom:1px solid #e0e0e0; color:#222222; border-left:1px solid #e0e0e0; background: #ededed; text-align:center; }
.tableDiv tr  a {text-align: left;	padding-left:10px;}
.tableDiv td {padding:5px; border-top: 1px solid #ffffff; border-bottom:1px solid #e0e0e0; border-left: 1px solid #e0e0e0; text-align:left; vertical-align:top;	background: #fafafa;}
.tableDiv tr.even td { background: #ffffff;}


.tableDiv1 {	font-family:Arial, Helvetica, sans-serif; color:#222222; font-size:15px; margin:20px auto; border:0px ; width:100%;}
.tableDiv1 th  {padding:7px 7px;	border-top:1px solid #fafafa; border: 0px ; color:#222222; border-left:1px solid #e0e0e0;  text-align:center; }
.tableDiv1 tr  a {text-align: left;	padding-left:10px;}
.tableDiv1 td {padding:5px; border-top: 1px solid #ffffff; border:0px; text-align:left; vertical-align:top;}
.tableDiv1 tr.even td { background: #ffffff;}
.tableDiv1 img { margin: 8px 0px 0px 0px; }

.tableDivInner td { border:none !important;}

.faq_que{ color:#000000; font-weight: 600; margin:0; padding: 1px 10px 10px 0px;text-align:justify;}
.faq_ans{ color:#000000; font-weight: 400; margin:0; padding: 0px 10px 10px 0px;text-align:justify;}

.faq_link { color:#000445; font-weight: 600; margin:0; padding: 5px 10px 5px 0px;text-align:justify;text-decoration: underline;}
.faq_link a{ color:#000445; font-weight: 600; margin:0; padding: 5px 10px 5px 0px;text-align:justify;text-decoration: underline;}
.faq_link a:hover{color:#1589FF; font-weight: 600; margin:0; padding: 5px 10px 5px 0px;text-align:justify;}

.faq_link_top a{ color:#000445; font-weight: 600; margin:0; padding: 0px 10px 0px 0px;text-decoration:underline;}
.faq_link_top a:hover{color:#1589FF; font-weight: 600; margin:0; padding: 0px 10px 0px 0px;text-decoration:underline;}